<app-main-header></app-main-header>
<app-sub-header></app-sub-header>
<div class="main-container">
  <div class="width-control">
    <h2 class="categories">
      Categories
    </h2>
    <div class="cats-core">
      <div class="cat">
        <div class="cat-img">
          <div class="db"></div>
        </div>
        <h3 class="cat-name">Category name</h3>
        <div class="sub-cats">
          <ul>
            <li>
              Sub cat
            </li>
            <li>
              Sub cat
            </li>
            <li>
              Sub cat
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<app-main-footer></app-main-footer>
