<app-main-header></app-main-header>
<app-sub-header></app-sub-header>
<div class="main-container">
  <div class="banner-core">
    <div class="db"></div>
  </div>
  <div class="width-control">
    <div class="side-bar">
      <!-- filters -->
      <ul>
        <!-- <li class="f-title">
          <h4>Filter</h4>
        </li>
        <li>
          Rating <br>
          <span>

          </span>
        </li> -->
      </ul>
    </div>
    <div class="main-con">
      <!-- Results -->
      <div class="top-bar">
        <div class="icons">
          <div class="ico grid-trig"><i class="fas fa-th-large"></i></div>
          <div class="ico list-trig"><i class="fas fa-list-ul"></i></div>
        </div>
      </div>
      <div class="results-core">

        <div class="result">
          <div class="img"><div class="db"></div></div>
          <div class="dets">
            <div class="open-sp"><div class="op"></div>&nbsp; Open</div>
            <h5>Title</h5>
            <div class="rating">
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
              </div>
            </div>
            <div class="o-dets">
              <h6><span class="ad-ico"><i class="fas fa-home"></i></span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique molestias debitis dignissimos libero quasi eaque?</h6>
            </div>
          </div>
        </div>
        <div class="result">
          <div class="img"><div class="db"></div></div>
          <div class="dets">
            <div class="open-sp"><div class="op"></div>&nbsp; Open</div>
            <h5>Title</h5>
            <div class="rating">
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
              </div>
            </div>
            <div class="o-dets">
              <h6><span class="ad-ico"><i class="fas fa-home"></i></span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique molestias debitis dignissimos libero quasi eaque?</h6>
            </div>
          </div>
        </div>
        <div class="result">
          <div class="img"><div class="db"></div></div>
          <div class="dets">
            <div class="open-sp"><div class="op"></div>&nbsp; Open</div>
            <h5>Title</h5>
            <div class="rating">
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
              </div>
            </div>
            <div class="o-dets">
              <h6><span class="ad-ico"><i class="fas fa-home"></i></span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique molestias debitis dignissimos libero quasi eaque?</h6>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<app-main-footer></app-main-footer>
