<div class="content-div">
  <div class="set-header-div">
    <h2 class="set-head">Profile Settings</h2>
  </div>
  <div class="set-content-div">
    <label for="name">Name :</label>
    <input type="text" id="name" class="inputs">
    <label for="email">Email :</label>
    <input type="text" id="email" class="inputs">
    <label for="mobile">Mobile :</label>
    <input type="text" id="mobile" class="inputs">
    <label for="address">Current Address :</label>
    <textarea id="address"></textarea>
    <label for="gender">Please select your gender :</label>
    <label class="radio-label"><input type="radio" name="gender" id="" value="male">Male</label>
    <label class="radio-label"><input type="radio" name="gender" id="" value="female"> Female</label>
    <label for="dob">Please enter your date of birth :</label>
    <input type="text" id="dob" class="inputs">
    <button class="submit-btn">SUBMIT</button>
  </div>
</div>
