.main-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 90vh;
  height: 90vh;
  width: 100%;
}
.main-container > .width-control {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 10px auto;
  height: 100%;
}
.terms{
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  margin: 20px auto;
}