<nav class="sub-nav">
  <div class="width-control">
    <ul class="sub-nav-ul">
      <li>
        Fashion
        <div class="s-n-items">
          <div class="s-n-core">
            <ul class="s-n-ul">
              <li>
                <h5>Men's Fashion</h5>
              </li>
              <li>
                Clothing
              </li>
              <li>
                T-shirts
              </li>
              <li>
                Jeans
              </li>
              <li>
                Shirts and pants
              </li>
              <li>
                Sports wear
              </li>
              <li>
                Ethnic wear
              </li>
              <li>
                Casuals
              </li>
              <li>
                Party Wear
              </li>
              <li>
                Dress materials
              </li>
            </ul>
            <ul class="s-n-ul">
              <li>
                <h5>Women</h5>
              </li>
              <li>
                Clothings
              </li>
              <li>
                Sarees
              </li>
              <li>
                Leggings
              </li>
              <li>
                Tops and shirts, T-shirts
              </li>
              <li>
                Bras and Blouses
              </li>
              <li>
                Shudidhars
              </li>
              <li>
                Inner wears
              </li>
              <li>
                Night wear
              </li>
              <li>
                Sports wear
              </li>
              <li>
                Part wear
              </li>
              <li>
                Ethnic wear
              </li>
              <li>
                Dress materials
              </li>
              <li>
                Swim and beach wear
              </li>
            </ul>
            <ul class="s-n-ul">
              <li>
                <h5>Kids</h5>
              </li>
              <li>
                Kid's Clothing
              </li>
              <li>
                Boys Clothing 
              </li>
              <li>
                Polos and T-shirts
              </li>
              <li>
                Ethnic wear
              </li>
              <li>
                Winter wear
              </li>
              <li>
                Girl's clothing
              </li>
              <li>
                Dresses and skirts
              </li>
              <li>
                Baby Boy Clothing
              </li>
              <li>
                Body Suits
              </li>
              <li>
                Polo and T-shirts
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        Home Applicences
        <div class="s-n-items">
            <div class="s-n-core">
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
            </div>
          </div>
      </li>
      <li>
        Electronics
        <div class="s-n-items">
            <div class="s-n-core">
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
            </div>
          </div>
      </li>
      <li>
        Furniture
        <div class="s-n-items">
            <div class="s-n-core">
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  Kitchen and Dining
                </li>
                <li>
                  Dining and Serving
                </li>
                <li>
                  Kitchen Storage
                </li>
              </ul>
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  Furniture
                </li>
                <li>
                  House Keeping and Laundry
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  Furnishing
                </li>
                <li>
                  Smart Home AUtomation
                </li>
                <li>
                  Tools and Hardware
                </li>
              </ul>
            </div>
          </div>
      </li>
      <li>
        Medicine
        <div class="s-n-items">
            <div class="s-n-core">
              <!-- <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul> -->
            </div>
          </div>
      </li>
      <li>
        Hospitals
        <div class="s-n-items">
            <div class="s-n-core">
              <!-- <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul> -->
            </div>
          </div>
      </li>
      <li>
        Jewellary
        <div class="s-n-items">
            <div class="s-n-core">
              <!-- <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul> -->
            </div>
          </div>
      </li>
      <li>
        Coaching Institutes
        <div class="s-n-items">
            <div class="s-n-core">
              <!-- <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul> -->
            </div>
          </div>
      </li>
      <li>
        Real Estate
        <div class="s-n-items">
            <div class="s-n-core">
              <!-- <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul> -->
            </div>
          </div>
      </li>
      <li>
        Banking and Finance
        <div class="s-n-items">
            <div class="s-n-core">
              <!-- <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul> -->
            </div>
          </div>
      </li>
      <li>
        Startups
        <div class="s-n-items">
            <div class="s-n-core">
              <!-- <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul> -->
            </div>
          </div>
      </li>
      <li>
        Government Activities
        <div class="s-n-items">
            <div class="s-n-core">
              <!-- <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul>
              <ul class="s-n-ul">
                <li>
                  <h5>Sub Header</h5>
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
                <li>
                  item
                </li>
              </ul> -->
            </div>
          </div>
      </li>
    </ul>
  </div>
</nav>
