<app-main-header></app-main-header>
<app-sub-header></app-sub-header>
<div class="home-main-slider">

</div>
<div class="width-control">
  <div class="home-main-cats">
    <h2 class="cats-head"> Categories </h2>

    <div class="cat-tabs">
      <div class="cat-tabs-top">
        <div class="cat-tab-title cat-tab-products selected-cat-tab">PRODUCTS</div>
        <div class="cat-tab-title cat-tab-services">SERVICES</div>
        <div class="cat-tab-title cat-tab-individuals">INDIVIDUALS</div>
      </div>
      <div class="cat-tabs-core">
        <div class="cat-tab-core products-tab">
            <div class="cat-row">

                <div class="cat" [routerLink]="['/category', 'fashion']">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Fashion
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Home Appliences
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Electronics
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Furniture
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Medicine
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Hospitals
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Jewellery
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Coaching Institutes
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Real Estate
                  </div>
                </div>
          
              </div>
              <div class="cat-row">
          
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Banking and Finance
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Startups
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Government Activities
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Title
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Title
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Title
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Title
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Title
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Title
                  </div>
                </div>
          
              </div>
        </div>
        <div class="cat-tab-core services-tab">
            <div class="cat-row">

                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Fashion
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Home Appliences
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Electronics
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Furniture
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Medicine
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Hospitals
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Jewellery
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Coaching Institutes
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Real Estate
                  </div>
                </div>
          
              </div>
              <div class="cat-row">
          
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Banking and Finance
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Startups
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Government Activities
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Title
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Title
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Title
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Title
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Title
                  </div>
                </div>
                <div class="cat">
                  <div class="cat-ico">
                      <i class="fas fa-anchor"></i>
                  </div>
                  <div class="cat-title">
                    Title
                  </div>
                </div>
          
              </div>
        </div>
        <div class="cat-tab-core individuals-tab"><div class="cat-row">

            <div class="cat">
              <div class="cat-ico">
                  <i class="fas fa-anchor"></i>
              </div>
              <div class="cat-title">
                Fashion
              </div>
            </div>
            <div class="cat">
              <div class="cat-ico">
                  <i class="fas fa-anchor"></i>
              </div>
              <div class="cat-title">
                Home Appliences
              </div>
            </div>
            <div class="cat">
              <div class="cat-ico">
                  <i class="fas fa-anchor"></i>
              </div>
              <div class="cat-title">
                Electronics
              </div>
            </div>
            <div class="cat">
              <div class="cat-ico">
                  <i class="fas fa-anchor"></i>
              </div>
              <div class="cat-title">
                Furniture
              </div>
            </div>
            <div class="cat">
              <div class="cat-ico">
                  <i class="fas fa-anchor"></i>
              </div>
              <div class="cat-title">
                Medicine
              </div>
            </div>
            <div class="cat">
              <div class="cat-ico">
                  <i class="fas fa-anchor"></i>
              </div>
              <div class="cat-title">
                Hospitals
              </div>
            </div>
            <div class="cat">
              <div class="cat-ico">
                  <i class="fas fa-anchor"></i>
              </div>
              <div class="cat-title">
                Jewellery
              </div>
            </div>
            <div class="cat">
              <div class="cat-ico">
                  <i class="fas fa-anchor"></i>
              </div>
              <div class="cat-title">
                Coaching Institutes
              </div>
            </div>
            <div class="cat">
              <div class="cat-ico">
                  <i class="fas fa-anchor"></i>
              </div>
              <div class="cat-title">
                Real Estate
              </div>
            </div>
      
          </div>
          <div class="cat-row">
      
            <div class="cat">
              <div class="cat-ico">
                  <i class="fas fa-anchor"></i>
              </div>
              <div class="cat-title">
                Banking and Finance
              </div>
            </div>
            <div class="cat">
              <div class="cat-ico">
                  <i class="fas fa-anchor"></i>
              </div>
              <div class="cat-title">
                Startups
              </div>
            </div>
            <div class="cat">
              <div class="cat-ico">
                  <i class="fas fa-anchor"></i>
              </div>
              <div class="cat-title">
                Government Activities
              </div>
            </div>
            <div class="cat">
              <div class="cat-ico">
                  <i class="fas fa-anchor"></i>
              </div>
              <div class="cat-title">
                Title
              </div>
            </div>
            <div class="cat">
              <div class="cat-ico">
                  <i class="fas fa-anchor"></i>
              </div>
              <div class="cat-title">
                Title
              </div>
            </div>
            <div class="cat">
              <div class="cat-ico">
                  <i class="fas fa-anchor"></i>
              </div>
              <div class="cat-title">
                Title
              </div>
            </div>
            <div class="cat">
              <div class="cat-ico">
                  <i class="fas fa-anchor"></i>
              </div>
              <div class="cat-title">
                Title
              </div>
            </div>
            <div class="cat">
              <div class="cat-ico">
                  <i class="fas fa-anchor"></i>
              </div>
              <div class="cat-title">
                Title
              </div>
            </div>
            <div class="cat">
              <div class="cat-ico">
                  <i class="fas fa-anchor"></i>
              </div>
              <div class="cat-title">
                Title
              </div>
            </div>
      
          </div></div>
      </div>
    </div>

    
    <div class="v-all-cats" routerLink='/categories'>
      <h5>VIEW ALL CATEGORIES</h5>
    </div>
  </div>
  <div class="businesses-core">
      <h2 class="cats-head"> Featured Businesses </h2>
      <div class="business-core">

        <div class="business" *ngFor='let b of featured_businesses'>
          <div class="b-img">
            <div class="db">
              <span class="open" *ngIf='b.status ==="open"'>
                <span class="o-circle"></span> Open
              </span>

            </div>
          </div>
          <div class="b-dets">
            <h4>{{ b.business.name }}</h4>
            <h5>{{ b.cat }}</h5>
          </div>
          <div class="view-b" [routerLink]="['/business', b._id]">
            VIEW BUSINESS
          </div>
        </div>

      </div>
  </div>
</div>
<app-main-footer></app-main-footer>